<?xml version="1.0" encoding="utf-8"?>

<manifest package="swj.swj"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="0.0.1">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".application.SnsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="YUNBA_APPKEY"
            android:value="561b7f3d860409b810e0d11a" />
        <service
            android:name="io.yunba.android.core.YunBaService"
            android:exported="true" />

        <receiver android:name="io.yunba.android.core.YunBaReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="swj.swj.receiver.PushNotificationsReceiver">
            <intent-filter>
                <action android:name="io.yunba.android.MESSAGE_RECEIVED_ACTION" />
                <category android:name="swj.swj" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="swj_social_app.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="swj.swj.model.Notification" />
        <meta-data
            android:name="AA_SERIALIZERS"
            android:value="swj.swj.common.AAJodaDateTimeSerializer" />

        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CardDetailsActivity"
            android:label="@string/title_activity_card_details"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <meta-data android:value="5625ebc8e0f55a40fa000034" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="Wandoujia" android:name="UMENG_CHANNEL"/>
        <activity android:name=".activity.PersonalSettingsActivity" />
        <activity android:name=".activity.PersonalProfileActivity" />
        <activity android:name=".activity.UpdateNicknameActivity" />
        <activity android:name=".activity.UpdateSignActivity" />
        <activity android:name=".activity.ChangePasswordActivity" />
        <activity android:name=".activity.PublishActivity" />
        <activity android:name=".activity.AddTextActivity" />
        <activity android:name=".activity.ResetPhoneActivity" />
        <activity android:name=".activity.ResetPhoneStepTwoActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterStepOne" />
        <activity android:name=".activity.RegisterStepTwo" />
        <activity android:name=".activity.RegisterStepThree" />
        <activity android:name=".activity.ResetPwdStepOne" />
        <activity android:name=".activity.ResetPwdStepTwo" />
        <activity android:name=".activity.ResetPwdStepThree" />
        <activity android:name=".activity.FeedbackActivity" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".activity.UserHomeActivity" android:label="@string/title_activity_user_home" />
    </application>
</manifest>
