<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="swj.swj">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.SnsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/title_activity_splash"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PersonalSettingsActivity" />
        <activity android:name=".activity.PersonalProfileActivity" />
        <activity android:name=".activity.UpdateNicknameActivity" />
        <activity android:name=".activity.UpdateSignActivity" />
        <activity android:name=".activity.ChangePasswordActivity" />
        <activity android:name=".activity.PublishActivity" />
        <activity android:name=".activity.AddTextActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ResetPhoneActivity" />
        <activity android:name=".activity.ResetPhoneStepTwoActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterStepOne" />
        <activity android:name=".activity.RegisterStepTwo" />
        <activity android:name=".activity.RegisterStepThree" />
        <activity android:name=".activity.ResetPwdStepOne" />
        <activity android:name=".activity.ResetPwdStepTwo" />
        <activity android:name=".activity.ResetPwdStepThree" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".activity.UserHomeActivity"
            android:label="@string/title_activity_user_home" />

    </application>

</manifest>
